
	
    <div id="greeting" class="greeting">
        <h2 class="main-title">greeting</h2>
        <section>
            <!--웹은 전세계의 다채로운 정보들이 모인 공간입니다.<br>
            하루에도 수백, 수천만의 사이트가 생겨났다가 사라집니다.<br>
            그런 웹의 생태 속에서도 도태되지 않고, 단연코 [돋보인다] 말할 수 있는 사이트들이 있습니다.<br>
            색채, 구도 등 미적 관점에서의 돋보임을 뛰어넘어<br>
            사용하는 사람을 즐겁게 만드는 정교한 UI, UX 기획과<br>
            서로 다른 환경과 조건을 가진 사용자가 차이없이 이용할 수 있도록 구현한 사이트가 그렇습니다.<br>-->
        </section>
    </div><!--//#greeting-->
    <div id="work" class="work">
        <h2 class="main-title">work</h2>
        <section>
        </section>
    </div><!--//#work-->
    <div id="contact" class="contact">
        <h2 class="main-title">contact</h2>
        <section>
            <dl>
                <dt>Email</dt>
                <dd></dd>
                <dt>Telephone</dt>
                <dd></dd>
                <dt>Location</dt>
                <dd></dd>
            </dl>
        </section>
        <h3 class="main-title">message</h3>
        <%= link_to "글작성", bulletin_posts_path(11), class:'btn btn-default' %>
    </div><!--//#contact-->